@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer components {
  .menu-item {
    @apply text-primary after:bg-primary relative cursor-pointer text-sm font-medium after:absolute after:-bottom-2 after:left-0 after:h-[3px] after:w-full after:-translate-x-11 after:rounded after:opacity-0 after:transition-all after:content-[''] hover:after:translate-x-0 hover:after:opacity-100;
  }

  .primary-btn {
    @apply bg-primary hover:text-primary h-11 cursor-pointer rounded px-6 text-sm text-white hover:bg-blue-200;
  }
  .hero-img {
    @apply h-5/6 w-1/4 rounded md:h-60 md:w-28 lg:h-80 lg:w-44;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-[#285091] to-[#4e8bf1] bg-clip-text text-transparent;
  }
}

@theme {
  --font-display: "Poppins", "sans-serif";
  --color-primary: #3368c0;
  --color-secondary: #eef4ff;
  --color-background: #f7faff;
  --color-darkBlue: #1b4282;
  --color-lightBlue: #bdd6ff;
  --color-dimBlue: #f7faff;
  --color-overlayBg: rgba(0, 0, 0, 0.3);
}
